:root {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px; /* Header alignment */
}

/* Table basic style */
.item-table {
  border-collapse: collapse;
  text-align: left;
  width: 1500px;
  padding: 10px;
}

.item-table th,
.item-table td {
  border-bottom: 1px solid black;
  
}

/* Header */
#h1 {
  font-size: 1.25rem;
  font-weight: 600;
}
